<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event x | coming soon page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Joti+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@latest/dist/confetti.browser.min.js"></script>
    <style>
      body {
        margin: 0;
        overflow: hidden;
      }
      body h1,
      .logo,
      .welcome {
        font-family: 'Joti One', serif;
      }
      p {
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </head>
  <body
    class="bg-[#0d1115] place-content-center place-items-center w-full h-screen"
  >
    <div class="w-full h-full flex">
      <div class="flex flex-col w-1/2 bg-white h-full">
        <div
          class="flex justify-between place-content-center place-items-center h-14 px-8"
        >
          <div
            class="w-8 h-8 bg-[#0d1115] rounded-md flex place-content-center place-items-center"
          >
            <span class="logo text-[#42fa71]"><a href="/">Ex</a></span>
          </div>
          <div
            class="w-8 h-8 bg-green-500 rounded-md flex place-content-center place-items-center hidden"
          >
            <a href="/"> P </a>
          </div>
        </div>
        <form
          action="/auth/login"
          method="POST"
          class="flex flex-col space-y-6 place-content-center place-items-center h-full"
        >
          <h2 class="text-2xl welcome text-[#42fa71]">Welcome to Eventx</h2>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="exemple@email.com"
            class="border border-[#0d1115] w-96 h-12 rounded-md pl-4 placeholder:text-[#0d1115] text-[#0d1115]"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            class="border border-[#0d1115] w-96 h-12 rounded-md pl-4 placeholder:text-[#0d1115] text-[#0d1115]"
          />
          <input
            type="submit"
            value="Create account"
            class="border border-[#0d1115] bg-[#0d1115] w-96 h-12 rounded-md pl-4 text-[#42fa71] hover:bg-transparent hover:text-[#42fa71] hover:border-[#42fa71]"
          />
        </form>
      </div>
      <div
        class="w-1/2 flex flex-col place-content-center place-items-center space-y-5"
      >
        <h1 class="text-9xl text-center text-[#42fa71]">Stay <br />tuned</h1>
        <p class="text-white w-[400px] font-extralight text-center">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
          ipsam ea consectetur, voluptates asperiores maxime perspiciatis.
        </p>
      </div>
    </div>
  </body>
</html>
